@import "compass/css3/images";

.socialShare-addThis {
  display: none;
  position: absolute;
  z-index: 1;
  line-height: 0;

  a {
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 !important;
  }

  &.addThisVertical {
    position: absolute;
    top: 20px;
    background: #fff;
    @include background-image(linear-gradient(left, #fff 85%, #ddd 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 );

    a {
      display: block;
      margin: 5px;
    }

    &.addthis_default_style {
      width: 36px;
      left: -23px;
      background: none;
    }

    &.addthis_20x20_style {
      width: 40px;
      left: -61px;

      a { margin: 10px; }
    }

    &.addthis_32x32_style {
      width: 52px;
      margin: 10px;
      left: -62px;

      a { margin: 12px; }
    }
  }
}

// wrappers for vertical orientation
.socialShare-outer {
  position: absolute;
  width: 100%;
  z-index: 1;

  .socialShare-inner {
    margin: 0 auto;
    position: relative;
  }
}